.separator {
    height: 40px;
}

header {
    background-color: #fdbf50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
    color: #2a2c41;
}

.full-width-img {

    margin-top: 60px;
    width: 100%;
    max-height : 300px;

}

.rating {
    margin-top: 10px;
    color: #fdbf50;
    font-size:50%;
}
.name {
    font-size: 60px;
    font-style: initial;
    color: #2a2c41;
}
.pic {
    margin-left: 60px;
    max-width: 100%;
}
.tag {
    opacity: 0.5;
    font-size: 50%;
}

a {
   
    margin-left: 60px;
    color: #fdbf50;
    font-style: normal;
    font-size: 70px;
}
.date-icon {
    margin-left: 60px;
    font-size: 40px;
    color: #2a2c41;
}

.date-text {
    margin-left: 30px;
    font-size: 40px;
    color: #2a2c41;
}
.contact {
    margin-left: 60px;
    color: #fdbf50;
    font-style: normal;
    font-size: 70px;
}

select {
    font-size: 16px;
    padding: 12px;
    border:none;
    
    background-color: #f4f4f8;
    box-sizing: border-box;
    margin-top: 20px;
    font-weight: bold;
    float: right;
    margin-right : 30px;
}
