.separator {
    height: 40px;
}

header {
    background-color: #fdbf50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
    color: #2a2c41;
}

.full-width-img {

   
    width: 100%;
    max-height : 300px;

}

.rating {
    margin-top: 15px;
    color: #fdbf50;
    font-size:50%;
}
.name {
    font-size: 60px;
    font-style: initial;
    color: #2a2c41;
    max-width: 900px;
}
.pic {
    margin-left: 60px;
    max-width: 100%;
}
.tag {
    opacity: 0.5;
    font-size: 50%;
    border-radius: 15px;
}

a {
    margin-left: 30px;
    color: #fdbf50;
    font-style: normal;
    font-size: 70px;
    text-decoration: none;
}
.date-icon {
   
    margin-left: 60px;
    font-size: 30px;
    color: #2a2c41;
}

.date-text {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 30px;
    color: #2a2c41;
}
.add-text {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: #fdbf50;
    font-style: italic;
   
}
.contact {
    
    margin-left: 60px;
    color: #fdbf50;
    font-style: normal;
    font-size: 70px;
    font-weight:bold;
}

select {
    font-size: 30px;
    padding: 12px;
    border:none;
    background-color: #f4f4f8;
    box-sizing: border-box;
    margin-top: 10px;
    font-weight: bold;
    float: right;
    margin-right : 30px;
}

.popup {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #f4f4f8;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: #f4f4f8;
   
}
.hidden {
    display: none;
}

.file-upload {
    margin-top: 100px;
    margin-bottom: 60px;
    display: block;
    margin: 0 auto;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: #2a2c41;
    color: #f4f4f8;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}