header {
    background-color: #fdbf50;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 20px; /* Adjust the gap between the links as needed */
    margin-right: 70px;
}

.header-button {
    color: white;
    text-decoration: none;
    font-size: x-large;
    position: relative;
}

    .header-button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.3); /* Adjust the opacity as needed */
    }
.DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 10px;
    color: #2a2c41;
    display: inline-block;
}

.container {
    background-color: #2a2c41;
    margin: 50px auto 40px;
    width: 50%;
    border-radius: 20px;
    padding: 50px;
}

h2 {
    color: #f4f4f8;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 48%;
}



.separator {
    height: 20px;
}


button[type="submit"] {
    background-color: #fdbf50;
    border-radius: 20px;
    border: 1px solid #fdbf50;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

@media (max-width: 767px) {
    input[type="submit"] {
        padding: 5px;
        margin: 10px auto;
        border-radius: 10px;
        background-color: #fdbf50;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        display: block;
        width: 90px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 20%;
    }

    .form-group {
        width: 40%;
    }


    select {
        font-size: 10px;
        padding: 1px;
    }

    a {
        padding: 4px;
        color: #fdbf50;
        font-style: normal;
        font-size: 10px;
        text-decoration: none;
    }


    .label {
        font-size: 10px;
        margin-left: 3px;
    }

    header {
        background-color: #fdbf50;
        color: white;
        padding: 3px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .header-right {
        display: flex;
        gap: 4px;
    }

    .header-button {
        color: white;
        text-decoration: none;
        font-size: smaller;
        position: relative;
    }

        .header-button::after {
            content: "";
            position: absolute;
            top: 0;
            right: -10px;
            height: 50%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.3);
        }

    .DineDocs {
        white-space: normal;
        text-align: left;
        word-break: break-all;
        font-weight: bold;
        font-size: small;
        margin-top: 6px;
        color: #2a2c41;
        display: inline-block;
    }

    .header-logo {
        width: 45px;
        height: 40px;
    }

    input[type="text"],
    input[type=email],
    input[type=password] {
        background-color: #2a2c41;
        border-radius: 10px;
        border: 1px solid #f4f4f8;
        padding: 2px;
        margin-bottom: 3px;
        width: 100%;
        color: #f4f4f8;
    }

    .container {
        background-color: #2a2c41;
        width: 90%;
        border-radius: 10px;
        padding: 10px;
    }
}