@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
   
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
 <link rel="stylesheet" href="~/css/NormalUSers/Index.css" />
  <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />
 <script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>

 



<div class="background"><img src="~/Images/backgroundblack.png" alt="Background Image"></div>
 <header>
  <div class="header-left">
    <img src="~/Images/logo.png" alt="Logo" width="90" height="50" class="float-start logo">
    <div class="DineDocs">
      <p>DineDocs</p>
    </div>
  </div>
  
  <div class="header-right">
    
    <a href="/Features/NormalUsers/SignUp" class="header-button">Sign UP</a>
    <a href="/Features/NormalUsers/Login" class="header-button">Login</a>
    <a href="/Features/NormalUsers/About" class="header-button">About</a>
     <a href="/Features/NormalUsers/ContactUs" class="header-button">Contact Us</a>
  </div>
</header>

<div class="Announce">
    <p>Discover Delicious Delights: Your Ultimate Menus Exploration Website </p>
    </div>
  
    <div class="search-wrapper">
    <form id="searchForm" method="get">
         <img src="~/Images/restaurant.png" alt="Search" width="40" height="40" style="margin-right: 5px; margin-left: 5px;filter: grayscale(100%)">

         <ejs-autocomplete id="autocomplete_example" filterType="StartsWith" highlight="true" dataSource="@Model.RestaurantsForSearch" placeholder="Search for your desired restaurant" popupHeight="700px" popupWidth="100%" style="font-weight:500; font-size:larger; height:50px; background-color: white;">
        <e-autocomplete-fields value="restaurant"></e-autocomplete-fields>
    </ejs-autocomplete>
        <button type="submit">
            <img src="~/Images/search.png" alt="Search" width="40" height="40">
        </button>
    </form>
</div>
  <div class="Announce1">
    <p>Top Rated for the month  </p>
    </div>

  <div class="top">
  @foreach (var restaurant in Model.TopRatedRestaurants)
  {
    <div class="restaurant">
       
      <a href="Features/NormalUsers/RestaurantPage/@restaurant.restaurant">
        <img src="~/Images/coverpics/@restaurant.main_photo" alt="Restaurant Cover Photo" class="cover-photo" />
      </a>
      <div class="rating">
        @for (int i = 0; i < restaurant.rating; i++)
        {
          <i class="fas fa-star"></i>
        }
      </div>
    </div>
  }
</div>
  <ejs-scripts></ejs-scripts>

  <script>
    document.getElementById("searchForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the form from submitting normally

        var chosenOption = document.getElementById("autocomplete_example").value;
        var url = "Features/NormalUsers/RestaurantPage/" + encodeURIComponent(chosenOption);
        window.location.href = url;
    });
</script>