@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
 <header  style="display: inline-block;">
 <img src="~/Images/logo.png" alt="Logo"  width="100" height="60" style="float: left; display: inline-block; ">
 <div class="DineDocs" style="display: inline-block;">
    <p>DineDocs</p>
  </div>
  <div style="float: right; font-size :x-large; font-weight: bold;  margin-right : 200px">
   <form method="post" asp-page-handler="SignUp" style="display: inline-block;">
    <button style="background-color: transparent; color: white; border: none;">Sign Up</button>
</form>
<form method="post" asp-page-handler="LogIn" style="display: inline-block;">
    <button style="background-color: #2a2c41; color: white; border-radius: 15%;">Login</button>
</form>
  </div>
</header>

<div class="Announce">
    <p>Discover Delicious Delights: Your Ultimate Menus Exploration App </p>
    </div>

        <div class="search-wrapper">
        <form method="get">
        <input type="text" id="SearchTerm" name="SearchTerm" placeholder="Search using tags , resturant name, district ....">
        <button type="submit" style="background-color: transparent; border: none;">
            <img src="~/Images/search.png" alt="Search" style="width: 40px; height: 40px;">
          </button>
        </form>
        </div>
  <div class="Announce">
    <p>Top Rated for the month  </p>
    </div>

    <div class="top">

    </div>


</body>
<style>

  body{
      background-color:#f4f4f8;
  }
  header {
  background-color: #fdbf50;
  color: white;
  padding: 10px;
  width: 100%;
  height : 4%;
}
.DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size :x-large;
    margin-top:10px;
    color: #2a2c41;

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
input[type="text"] {
  
     width:100%;
     font-size: 24px; 
     padding: 5px; 
    border:none;
     background-color: white;
      margin-left : 10px;
   margin-right : 100px;


}
.search-wrapper {
  
  padding: 5px; 
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 20px;
  margin-left : 450px;
   margin-right : 450px;
}
.Announce {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
    font-size :xx-large;
    margin-top : 100px;
    color: #2a2c41;
}
.top{

}
</style>