@page "{emaile}"
@model PDFMenu.Pages.Features.Admins.AdminPageModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="~/css/Admins/AdminPage.css" />
  <header>
        <div style="display: flex; align-items: center;">
 <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
          <div class="DineDocs">

            <p>DineDocs</p>
          </div>
        </div>
  </header>

 <img src="~/Images/coverpics/@Model.RestaurantGot.cover_photo" alt="Cover Photo" class="img-fluid rounded full-width-img">
 <div class="separator"></div>
 <div class="row">
    <div class="col-md-3 img-col">
        <img src="~/Images/coverpics/@Model.RestaurantGot.main_photo" alt="Image" class="img-fluid">
    </div>
    <div class="col-md-9 label-col">
        <h1 class="fw-bold label">@Model.RestaurantGot.restaurant</h1>
    </div>
</div>
        
 

