@page "{email}"
@model PDFMenu.Pages.Features.Admins.HistoryModel
@{
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="~/css/Admins/History.css" />
  <header>
        <div style="display: flex; align-items: center;">
 <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
          <div class="DineDocs">
            <p>DineDocs</p>
          </div>
        </div>
  </header>

  <table>
    <tr>
        <th>Name</th>
        <th>Date</th>
    </tr>

   
   @foreach (var history in @Model.MenuUploads)
    {
        <tr>
            <td><a href="/Features/NormalUsers/PDFMenu/@history.menu_pdf">View PDF Menu</a></td>
            <td>@history.menu_upload_date</td>
        </tr>
    }

</table>