@page
@model PDFMenu.Pages.Features.Admins.UpdatePasswordModel
@{
}

 <link rel="stylesheet" href="~/css/Admins/UpdatePassword.css" />
 <header>
 <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
 <div class="DineDocs">
    <p>DineDocs</p>
  </div>
</header>

<div class="container">
    <h2>Update Password</h2>
   <div class="separator"></div>
<form method="post">
  <div class="form-row">
    <div class="form-group">
      <label for="CurrentPassword">Current Password</label>
      <input type="password" id="CurrentPassword" name="CurrentPassword" required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="NewPassword">New Password</label>
      <input type="password" id="NewPassword" name="NewPassword" required>
    </div>
  </div>

   <div class="form-row">
    <div class="form-group">
      <label for="NewPasswordConfirmation">New Password Confirmation</label>
      <input type="password" id="NewPasswordConfirmation" name="NewPasswordConfirmation" required>
    </div>
  </div>

   <div class="separator"></div>

  <div class="form-row">
    <button type="submit">Update</button>
  </div>
</form>

  
  </div>

