@page
@model PDFMenu.Pages.Features.Admins.UpdateEmailModel
@{
}

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
 <link rel="stylesheet" href="~/css/Admins/AddUsers.css"/>

<header>
      <div class="header-left">
        <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
        <div class="DineDocs">
          <p>DineDocs</p>
        </div>
      </div>
  
      <div class="header-right">
        <a href="/Index" class="header-button">Home</a>
        <a href="/Features/NormalUsers/ContactUs" class="header-button">Contact Us</a>
        <a href="/Features/NormalUsers/About" class="header-button">About</a>
      </div>
</header>
<div class="container">
    <h2>Update Email</h2>
    <div class="separator"></div>
    <form method="post">
      <div class="form-row">
        <div class="form-group">
          <label for="CurrentEmail">Current Email </label>
          <input type="text" id="CurrentEmail" name="CurrentEmail" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" id="Password" name="Password" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="NewEmail">New Email</label>
          <input type="text" id="NewEmail" name="NewEmail" required>
        </div>
      </div>

      <div class="separator"></div>

      <div class="form-row">
        <button type="submit">Update</button>
      </div>
    </form>
</div>

 <div class="popup" @(Model.hide ? "" : "hidden")>
          <div class="popup-content">
            <button class="close" onclick="redirectToHomePage()">X</button>
            <p>Email Updated Successfuly</p>
          </div>
 </div>    

<script>
  function redirectToHomePage() {
    var email = "@Model.NewEmail";
      window.location.href = '/Features/Admins/Privacy';
  }
</script>

