@page
@model PDFMenu.Pages.Features.Admins.UpdatePasswordModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="~/css/Admins/UpdateEmail.css" />

<header>
  <div class="header-left">
    <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
    <div class="DineDocs">
      <p>DineDocs</p>
    </div>
  </div>

  <div class="header-right">
    <a href="/Index" class="header-button">Home</a>
    <a href="/Features/NormalUsers/ContactUs" class="header-button">Contact Us</a>
    <a href="/Features/NormalUsers/About" class="header-button">About</a>
  </div>
</header>

<div class="container">
  <h2>Update Password</h2>
  <div class="separator"></div>
  <form method="post">
    <div class="form-row">
      <div class="form-group">
        <label for="CurrentPassword">Current Password</label>
        <input type="password" id="CurrentPassword" name="CurrentPassword" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="NewPassword" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="NewPasswordConfirmation">New Password Confirmation</label>
        <input type="password" id="NewPasswordConfirmation" name="NewPasswordConfirmation" required>
      </div>
    </div>
  
    <div class="separator"></div>
    <input type="hidden" name="email" value="@Model.RestaurantGot.email">
    <div class="form-row">
      <button type="submit">Update</button>
    </div>
  </form>
</div>

<div class="popup" @(Model.hide ? "" : "hidden")>
  <div class="popup-content">
    <button class="close" onclick="redirectToHomePage()">X</button>
    <p>Password Updated Successfully</p>
  </div>
</div>

    <script>
          const passwordInput = document.getElementById('NewPassword');
          const passwordConfirmationInput = document.getElementById('NewPasswordConfirmation');

          function validatePassword() {
            if (passwordInput.value !== passwordConfirmationInput.value) {
              passwordConfirmationInput.setCustomValidity("Password confirmation must match the password.");
            } else {
              passwordConfirmationInput.setCustomValidity('');
            }
          }

          passwordInput.addEventListener('input', validatePassword);
          passwordConfirmationInput.addEventListener('input', validatePassword);
    </script>


    <script>
      function redirectToHomePage() {
        var email = "@Model.RestaurantGot.email";
        window.location.href = '/Features/Admins/Privacy/' + email;
      }
    </script>