header {
    background-color: transparent;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    border-radius: 30%;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 10px;
 
}
.header-right {
    display: flex;
    gap: 20px; /* Adjust the gap between the links as needed */
    margin-right: 70px;
}

.header-button {
    color: white;
    text-decoration: none;
    font-size: x-large;
    position: relative;
}

    .header-button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.3); /* Adjust the opacity as needed */
    }

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: -1;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* Adjust the opacity as needed */
}
.DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 10px;
    color: white;
    display: inline-block;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    border :none;
}

input[type="text"] {
    width: 100%;
    font-size: 24px;
    padding: 5px;
    border: none;
    background-color: white;
    margin-left: 10px;
    margin-right: 100px;
}

.search-wrapper {
   
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid darkgrey;
    margin-left: 450px;
    margin-right: 450px;
}

.Announce {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 100px;
    color: white;
}

.Announce1 {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 100px;
    color: #2a2c41;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-photo {
    width: 200px;
    height: 200px;
}

.rating {
    margin-top: 10px;
    color: #fdbf50;
}
.headbuttons {
    float: right;
    font-size: x-large;
    font-weight: bold;
    margin-right: 200px;
  
}
.btn-signup {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: white;
}
.btn-login {
    margin-top: 10px;
    background-color: #2a2c41;
    color: white;
    border-radius: 15%;
}
button {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: transparent;
    border: none;
    color: grey;
}