header {
    background-color: #fdbf50;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 20px; /* Adjust the gap between the links as needed */
    margin-right: 70px;
}

.header-button {
    color: white;
    text-decoration: none;
    font-size: x-large;
    position: relative;
}

    .header-button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.3); /* Adjust the opacity as needed */
    }

.DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: x-large;
    margin-top: 10px;
    color: #2a2c41;
    display: inline-block;
}
