@page
@model PDFMenu.Pages.Features.NormalUsers.ContactUsModel
@{
}        

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
 <link rel="stylesheet" href="~/css/NormalUSers//ContactUs.css" />
  <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/fluent.css" />

   <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="background"><img src="~/Images/backgroundblack.png" alt="Background Image"></div>
 <header>
  <div class="header-left">
    <img src="~/Images/logo.png" alt="Logo" width="90" height="50" class="float-start logo">
    <div class="DineDocs">
      <p>DineDocs</p>
    </div>
  </div>
  
  <div class="header-right">
    <a href="/Index" class="header-button">Home</a>
     <a href="/Features/NormalUsers/About" class="header-button">About</a>
    <a href="/Features/NormalUsers/SignUp" class="header-button">Sign UP</a>
    <a href="/Features/NormalUsers/Login" class="header-button">Login</a>
   
  </div>

</header>

<div class="about">
  <h1>Contact Us</h1>
<a href="mailto:dinedocs3@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>

</div>