@page "{menu}"
@model PDFMenu.Pages.Features.NormalUsers.PDFMenuModel


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="~/css/NormalUsers/pdf.css" />
<div>
    <embed class= "pdf" src="~/Menus/@Model.MenuName" type="application/pdf">
</div>
