@page
@model PDFMenu.Pages.Features.NormalUsers.ResetPasswordModel
@{
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="~/css/NormalUSers/ResetPassword.css" />
<header>
  <div class="header-left">
    <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
    <div class="DineDocs">
      <p>DineDocs</p>
    </div>
  </div>
  
  <div class="header-right">
    <a href="/Index" class="header-button">Home</a>
    <a href="ContactUs" class="header-button">Contact Us</a>
    <a href="About" class="header-button">About</a>
  </div>
</header>
  
   <div class="container">
          <h2>Reset Password</h2>
          <div class="separator"></div>
          <form method="post">
              <div class="form-row">
                  <div class="form-group">
                      <label for="Email">Email</label>
                      <input type="email" id="Email" name="Email" required>
                  </div>
              </div>

              <div class="separator"></div>
              <div class="form-group">
    
                       <button type="submit">Reset</button>
              </div>
          </form>

            <div class="popup" @(Model.hide ? "" : "hidden")>
              <div class="popup-content">
                <button class="close" onclick="redirectToLoginPage()">X</button>
                <p>Please check your email for  reset confirmation and a new password</p>
           
              </div>
            </div>
 
   </div>


   <script>
      function redirectToLoginPage() {
                      window.location.href = '/Features/NormalUsers/Login';
      }              
   </script>